@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&family=Source+Sans+Pro:wght@300;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-accent: #16e0bd;
  --clr-dark: #303030;
  --clr-light: #fff;
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fs-body: 1rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fw-bold: 900;
}

.flex-website-and-connect-four {
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
}

.intro {
  max-width: 600px;
}

.connect-four {
  max-width: 500px;
}

.intro-width {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 100vh;
}

.connect-four-width {
  align-items: center;
  display: flex;
  flex: 2;
  justify-content: center;
  min-height: 100vh;
}

.text-alignment {
  text-align: right;
}

.img-alignment {
  display: flex;
  justify-content: flex-end;
}
.img-size {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.line-through {
  text-decoration: line-through;
}

.dotted-line {
  text-decoration: underline dotted;
}

.underline {
  text-decoration: underline;
}

.portfolio-code-link {
  color: #00ffff;
}

@media (max-width: 770px) {
  .flex-website-and-connect-four {
    flex-direction: column;
  }

  .connect-four-width {
    padding-bottom: 2rem;
    width: 100%;
  }

  .img-alignment {
    display: flex;
    justify-content: center;
  }

  .img-size {
    height: 64px;
    width: 64px;
    border-radius: 50%;
  }

  .text-alignment {
    text-align: center;
  }

  .intro-width {
    width: 100%;
  }
}

p {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  :root {
    --fs-body: 1.125rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
  }
}

/* General styles  */

body {
  background: var(--clr-dark);
  color: var(--clr-light);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  margin: 0;
}

.about-me-intro {
  padding: 2em 2em;
  text-align: start;
}

img {
  display: block;
  max-width: 50%;
}

h2 {
  font-size: var(--fs-h2);
  line-height: 1;
  margin: 0;
}

.section__subtitle--about {
  color: var(--clr-light);
  font-family: var(--ff-secondary);
}

/*  Intro section  */

.center {
  text-align: center;
}

.more-space {
  margin-top: 0.5em;
}

.social-list {
  list-style: none;
  padding: 0;
}

.social-list a {
  color: #00ffff;
  margin: 1rem;
}
