.board {
  background-color: blue;
  border: 10px solid navy;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  height: 297px;
  margin: 0 auto;
  width: 346.5px;
}

.connect-4-header {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}

.winner-text {
  text-align: center;
}

.turn-info {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.red-text {
  color: red;
}

.yellow-text {
  color: yellow;
}

.new-game-div {
  display: flex;
  justify-content: center;
}

.new-game {
  background-color: #0362fc;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  height: 30px;
  width: 100px;
}
