.tile {
  height: 70px;
  width: 70px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid navy;
  /* cursor: pointer; */
  /* cursor: url(redDisc); */
  /* cursor: url("../../images/red_disc.svg"); */
}
