@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&family=Source+Sans+Pro:wght@300;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-accent: #16e0bd;
  --clr-dark: #303030;
  --clr-light: #fff;
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fs-body: 1rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fw-bold: 900;
}

.flex-website-and-connect-four {
  display: flex;
  justify-content: space-evenly;
}

.intro {
  max-width: 600px;
}

.connect-four {
  max-width: 500px;
}

.intro-width {
  display: flex;
  justify-content: center;
  width: 50%;
}

.connect-four-width {
  align-items: center;
  background-color: #303030;
  display: flex;
  justify-content: center;
  width: 50%;
}

p {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
}

@media (min-width: 800px) {
  :root {
    --fs-body: 1.125rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
  }
}

/* General styles  */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  margin: 0;
}

.about-me-intro {
  padding: 2em 2em;
  text-align: start;
}

img {
  display: block;
  max-width: 50%;
}

/* Buttons */

h2 {
  font-size: var(--fs-h2);
  line-height: 1;
  margin: 0;
}

.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: 0.25em 1em;
}

/*  Intro section  */

.center-img {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.more-space {
  margin-top: 0.5em;
}

/* Footer  */

.footer {
  background: #111;
  color: var(--clr-accent);
  font-size: var(--fs-h3);
  padding: 0.25em 0;
  text-align: center;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer-title {
  font-size: 40px;
  font-weight: var(--fw-bold);
  margin: 0;
  padding: 0.25em 0;
}

.footer_link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  font-size: var(--fs-h2);
  padding: 0.5em;
}
